@inject NavigationManager Navigation

<Table
    TItem="Pokemon"
    DataSource="@DataSource"
    @bind-PageIndex="_pageIndex"
    @bind-PageSize="_pageSize"
    Size="TableSize.Small"
    Responsive
    EnableVirtualization>
    <PropertyColumn Title="" Property="@(c => c.Species)">
        <PokemonIcon Species="@context.Species"/>
    </PropertyColumn>
    <PropertyColumn Title="Name" Property="@(c => c.Species.Name())" Sortable Filterable/>
    <PropertyColumn Title="Level" Property="c => c.Level" Sortable Filterable></PropertyColumn>
    <ActionColumn Title="Action">
        <Space Size=@("middle")>
            <SpaceItem>
                <Button
                    Type="@ButtonType.Link"
                    OnClick='() => Navigation.NavigateTo($"/pokemon/{Route}/{context.PID}")'>
                    View
                </Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

@code {
    int _pageIndex = 1;
    int _pageSize = 10;

    [Parameter] public IList<Pokemon> DataSource { get; set; } = [];
    [Parameter] public PokemonSource Source { get; set; }

    private string Route => Source switch
    {
        PokemonSource.Party => "party",
        PokemonSource.Box => "box",
        _ => string.Empty
    };

    public enum PokemonSource
    {
        Party,
        Box
    }
}