@page "/plugins"
@using PKHeX.Web.Services.Plugins
@inject INotificationService Notification

<Space Direction="DirectionVHType.Vertical" Style="width: 100%; gap: 20px;">
    <PageHeader BackIcon="true" Style="max-width: 100%">
        <TitleTemplate>Manage Plug-Ins</TitleTemplate>
    </PageHeader>

    @if (Registry.GetAllPlugins().Any())
    {
        <Title Level="2">Installed</Title>
        <Table
            TItem="InstalledPlugIn"
            DataSource="@InstalledPlugIns"
            @bind-PageIndex="_installedPlugInsPageIndex"
            @bind-PageSize="_installedPlugInsPageSize"
            Size="TableSize.Small"
            Responsive
            EnableVirtualization>
            <PropertyColumn Title="Name" Property="@(c => c.PlugIn.Settings.Manifest.PlugInName)" Sortable Filterable>
                <a href="@($"/plugins/{context.PlugIn.Id}")">@context.PlugIn.Settings.Manifest.PlugInName</a>
            </PropertyColumn>
            <PropertyColumn Title="Version" Property="@(c => c.PlugIn.Version.ToString())" Sortable Filterable/>
            <ActionColumn Title="Actions">
                <Space Size=@("middle")>
                    <SpaceItem>
                        <Button
                            OnClick="() => HandleUninstallClick(context.PlugIn)"
                            Type="@ButtonType.Link"
                            Danger>
                            Uninstall
                        </Button>
                    </SpaceItem>

                    @if (context.PlugIn.HasNewerVersion)
                    {
                        <SpaceItem>
                            <Button
                                OnClick="() => HandleUpdateClick(context.PlugIn)"
                                Type="@ButtonType.Link">
                                Update
                            </Button>
                        </SpaceItem>   
                    }
                </Space>
            </ActionColumn>
        </Table>
    }

    @if (_availablePlugIns.Any())
    {
        <Title Level="2">Discover</Title>
        <Table
            TItem="PlugInAndSource"
            DataSource="@_availablePlugIns"
            @bind-PageIndex="_availablePlugInsPageIndex"
            @bind-PageSize="_availablePlugInsPageSize"
            Size="TableSize.Small"
            Responsive
            EnableVirtualization>
            <PropertyColumn Title="Name" Property="@(c => c.PlugIn.Id)" Sortable Filterable>
                <LabelOrLink
                    Label="@context.PlugIn.Name"
                    Href="@context.PlugIn.ProjectUrl"/>
            </PropertyColumn>
            <PropertyColumn Title="Description" Property="@(c => c.PlugIn.Description)"/>
            <PropertyColumn Title="Version" Property="@(c => c.PlugIn.PublishedVersions.LastOrDefault())" Sortable Filterable/>
            <PropertyColumn Title="Source" Property="@(c => c.Source.Name)" Sortable Filterable/>
            <ActionColumn Title="Actions">
                <Space Size=@("middle")>
                    <SpaceItem>
                        <Button
                            Type="@ButtonType.Link"
                            OnClick="() => HandleInstallClick(context.Source, context.PlugIn)">
                            Install
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    }

</Space>

@code {
    [Inject] public required PlugInRegistry Registry { get; set; }
    [Inject] public required PlugInService PlugInService { get; set; }
    [Inject] public required PlugInSourceService PlugInSourceService { get; set; }

    private List<PlugInAndSource> _availablePlugIns = [];

    private List<InstalledPlugIn> InstalledPlugIns => Registry.GetAllPlugins()
        .Select(p => new InstalledPlugIn { PlugIn = p })
        .ToList();

    private int _availablePlugInsPageIndex = 1;
    private int _availablePlugInsPageSize = 20;

    private int _installedPlugInsPageIndex = 1;
    private int _installedPlugInsPageSize = 20;

    private async Task HandleUninstallClick(LoadedPlugIn plugin)
    {
        await PlugInService.Uninstall(plugin);
        await RefreshAvailablePlugIns();
    }

    private async Task HandleInstallClick(PlugInSource source, PlugInSource.PlugIn plugin)
    {
        await PlugInService.InstallFrom(source.SourceUrl, source.GetLatestDownloadUrl(plugin));
        
        _ = Notification.Open(new NotificationConfig
        {
            Message = "Plug-in updated with success",
            NotificationType = NotificationType.Success
        });
        
        await RefreshAvailablePlugIns();
    }
    
    private async Task HandleUpdateClick(LoadedPlugIn plugIn)
    {
        await PlugInService.Update(plugIn);
        await RefreshAvailablePlugIns();
    }

    protected override Task OnInitializedAsync()
    {
        return RefreshAvailablePlugIns();
    }

    private async Task RefreshAvailablePlugIns()
    {
        _availablePlugIns = (await PlugInSourceService.GetPlugInSources())
            .SelectMany(
                p => p.PlugIns,
                (source, plugin) => new PlugInAndSource { Source = source, PlugIn = plugin })
            .Where(p => !Registry.IsRegistered(p.PlugIn.Id))
            .ToList();
    }

    class PlugInAndSource
    {
        public required PlugInSource Source { get; set; }
        public required PlugInSource.PlugIn PlugIn { get; set; }
    }

    class InstalledPlugIn
    {
        public required LoadedPlugIn PlugIn { get; set; }
    }

}