@page "/pokemon/{PartyOrBox}/{UniqueIdString}"
@using PKHeX.Web.Plugins
@using PKHeX.Web.Services.Plugins
@inject NavigationManager Navigation

@if (_editingPokemon is not null)
{
    <Space Style="width: 100%; gap: 20px;" Direction="DirectionVHType.Vertical">
        <PokemonEdit
            Pokemon="_editingPokemon"/>

        <Space Align="end" Style="width: 100%" Direction="DirectionVHType.Vertical">
            @{ var actions = PlugInRegistry.GetAllEnabledHooks<IPokemonEditAction>().ToList(); }
            
            <DropdownButton
                Type="@ButtonType.Primary"
                OnClick="HandleSaveClick">
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <Button
                                Type="@ButtonType.Link"
                                OnClick="ExportPokemonToFile">
                                Export *.pk
                            </Button>
                        </MenuItem>

                        @foreach (var action in actions)
                        {
                            <MenuItem>
                                @RenderActionButton(action)
                            </MenuItem>
                        }
                    </Menu>
                </Overlay>
                <ChildContent>
                    Save
                </ChildContent>
            </DropdownButton>
        </Space>
    </Space>
}

@code {
    [Inject] public required PlugInRuntime PlugInRuntime { get; set; }
    [Inject] public required PlugInRegistry PlugInRegistry { get; set; }
    [Inject] public required GameService GameService { get; set; }
    [Inject] public required JsService Js { get; set; }
    [Inject] public required AnalyticsService Analytics { get; set; }

    [Parameter] public required string PartyOrBox { get; set; }
    [Parameter] public required string UniqueIdString { get; set; }

    private UniqueId UniqueId => UniqueId.From(UniqueIdString);

    private Pokemon? OriginalPokemon => PartyOrBox switch
    {
        Party => GameService.Game?.Trainer.Party.Pokemons.FirstOrDefault(p => p.UniqueId.Equals(UniqueId)),
        Box => GameService.Game?.Trainer.PokemonBox.All.FirstOrDefault(p => p.UniqueId.Equals(UniqueId)),
        _ => null
    };

    private Pokemon? _editingPokemon;

    protected override void OnInitialized()
    {
        _editingPokemon = OriginalPokemon?.Clone();
    }

    private const string Party = "party";
    private const string Box = "box";

    private PokemonSource PokemonSource => PartyOrBox switch
    {
        Party => PokemonSource.Party,
        Box => PokemonSource.Box,
        _ => throw new NotSupportedException($"{PartyOrBox} not supported")
    };

    private async Task HandleSaveClick()
    {
        if (OriginalPokemon is null || _editingPokemon is null) return;
        var idChanged = !OriginalPokemon.UniqueId.Equals(_editingPokemon.UniqueId);

        OriginalPokemon.Game.Trainer.AddOrUpdate(OriginalPokemon.UniqueId, _editingPokemon, PokemonSource);

        await PlugInRuntime.RunAll<IRunOnPokemonSave>(h => h.OnPokemonSaved(_editingPokemon));

        // some changes might change the id of the Pokémon
        if (idChanged)
        {
            Navigation.NavigateToPokemon(PokemonSource, _editingPokemon.UniqueId, replace: true);
        }

        TrackSaved(_editingPokemon);

        await Js.NavigateBack();
    }

    private void TrackSaved(Pokemon pokemon)
    {
        Analytics.TrackPokemon("pokemon_saved", pokemon, PokemonSource);
    }

    private RenderFragment? RenderActionButton(IPokemonEditAction action)
    {
        if (_editingPokemon is null) return null;

        return
            @<Button
                 Type="@ButtonType.Link"
                 OnClick="() => HandleActionButtonClick(action)">
                @action.Label
            </Button>;
    }

    private async Task HandleActionButtonClick(IPokemonEditAction action)
    {
        await PlugInRuntime.RunOn(action, (_) => action.OnActionRequested(_editingPokemon!));
    }

    private async Task ExportPokemonToFile()
    {
        if (_editingPokemon is null) return;

        var file = _editingPokemon.ToFile();
        var memoryStream = new MemoryStream(file.Bytes);
        await Js.DownloadFile(memoryStream, file.Name);
    }

}