@inherits LayoutComponentBase
@using PKHeX.Web.Services.Plugins
@implements IDisposable
@inject NavigationManager Navigation
@inject GameService GameService

<Layout Style="min-height: 100vh">
    <Sider Collapsible
           Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="64"
           @bind-Collapsed=@_collapsed>

        <div class="logo">PKHeX.Web</div>

        <Menu
            Theme="MenuTheme.Dark"
            Mode="MenuMode.Inline"
            DefaultSelectedKeys="@( [SelectedMenuItem?.Route ?? string.Empty])"
            SelectedKeys="@( [SelectedMenuItem?.Route ?? string.Empty])">
            @foreach (var item in MenuItems)
            {
                @if (!item.VisibleWithoutGame && !GameService.IsLoaded) continue;

                @if (item.Nested is null || item.Nested.Count == 0)
                {
                    @RenderMenu(item)
                }
                else
                {
                    RenderFragment subtitle =
                        @<span>
                            @if (item.Icon is not null)
                            {
                                <Icon Type="@item.Icon" Theme="outline"/>
                            }
                            <span>@item.Label</span>
                        </span>;

                    <SubMenu Key="@item.Route" TitleTemplate="subtitle">
                        @foreach (var sub in item.Nested)
                        {
                            @RenderMenu(sub)
                        }
                    </SubMenu>
                }
            }
        </Menu>
    </Sider>
    <Layout>
        <Header Style="display: flex; justify-items: center; align-items: center; width: 100%">
            <div style="flex-grow: 1"></div>
            <Button
                Style="flex-shrink: 1"
                Type="@ButtonType.Default"
                Icon="@IconType.Outline.Setting"
                Size="@AntSizeLDSType.Large"
                Shape="@ButtonShape.Round"
                OnClick="HandleSettingsClick"></Button>
        </Header>
        <Content Style=" margin: 24px 16px 0;">
            <div class="site-layout-background" style="padding: 24px; min-height: 360px">
                <AnalyticsAwareErrorBoundary
                    @ref="_errorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <Alert 
                            Type="@AlertType.Error" 
                            Message="Error"
                            CloseText="Dismiss"
                            OnClose="DismissError"
                            Closable>
                            <Paragraph>
                                Whops, some unexpected error happened.
                            </Paragraph>
                            
                            <Paragraph>
                                <a href="@GetIssueLink(context)" target="_blank">Click here</a> to file an issue in GitHub.
                            </Paragraph>

                            <ResponsibleDescriptions Bordered Size="small">
                                <DescriptionsItem Title="Id">@context.GetExceptionTrackingId()</DescriptionsItem>
                                <DescriptionsItem Title="Type">@context.GetType().Name</DescriptionsItem>
                                <DescriptionsItem Title="Message">@context.Message</DescriptionsItem>
                            </ResponsibleDescriptions>
                        </Alert>
                    </ErrorContent>
                </AnalyticsAwareErrorBoundary>
            </div>
        </Content>
        <PkHexFooter/>
    </Layout>

</Layout>

@code {
    [Inject] public required PlugInRegistry PlugInRegistry { get; set; }

    bool _collapsed;
    AnalyticsAwareErrorBoundary _errorBoundary = default!;
    MenuItem? SelectedMenuItem => MenuItems.SingleOrDefault(m => m.Route == Navigation.CurrentRoute());

    IEnumerable<MenuItem> MenuItems =>
    [
        new("", "Home", "home"),
        new("party", "Party", "team"),
        new("pokemon-box", "Pokemon Box", "inbox"),
        new("items", "Items", "shop"),
        new("plugins", "Plug-Ins", "api", true, PluginMenuItems),
        new("analytics", "Analytics", "line-chart", true),
        new("save", "Save", "save", true),
    ];

    List<MenuItem> PluginMenuItems
    {
        get
        {
            var plugIns = PlugInRegistry.GetAllPlugins()
                .Select(p => new MenuItem($"plugins/{p.Id}", p.Settings.Manifest.PlugInName))
                .ToList();

            if (plugIns.Any()) plugIns.Add(new MenuItem("plugins", "Manage Plug-Ins"));

            return plugIns;
        }
    }

    protected override void OnInitialized()
    {
        GameService.OnGameLoaded += OnGameLoaded;
        PlugInRegistry.OnPlugInChanged += OnPlugInChanged;
        BrowserWindowService.LoadRequested += OnLoadRequested;
        
        ToLoadIfNotLoaded();
    }

    protected override void OnAfterRender(bool firstRender) => ToLoadIfNotLoaded();

    private void ToLoadIfNotLoaded()
    {
        var currentRoute = Navigation.CurrentRoute();
        if (!GameService.IsLoaded && string.IsNullOrWhiteSpace(currentRoute) || currentRoute == "/")
        {
            Navigation.NavigateTo("/load");
        }
    }

    private void OnGameLoaded(object? sender, EventArgs args)
    {
        Navigation.NavigateTo("/");
    }


    private void OnPlugInChanged(LoadedPlugIn plugin, PlugInRegistry.ChangeType type)
    {
        if (type == PlugInRegistry.ChangeType.Deregistered)
            Navigation.NavigateToPlugIns();
        else
            Navigation.NavigateToPlugIn(plugin);
    }
    
    private Task OnLoadRequested(BrowserWindowService.SaveLoadedRequested arg)
    {
        GameService.Load(arg.Bytes, arg.FileName);
        Navigation.NavigateToHomePage();

        return Task.CompletedTask;
    }
    
    private RenderFragment RenderMenu(MenuItem item) =>
        @<MenuItem Key="@item.Route">
            @if (item.Icon is not null)
            {
                <Icon Type="@item.Icon" Theme="outline"/>
            }

            <span class="nav-text">
                <a href="@item.Route">@item.Label</a>
            </span>
        </MenuItem>;

    record MenuItem(string Route, string Label, string? Icon = null, bool VisibleWithoutGame = false, List<MenuItem>? Nested = null);

    public void Dispose()
    {
        GameService.OnGameLoaded -= OnGameLoaded;
        PlugInRegistry.OnPlugInChanged -= OnPlugInChanged;
        BrowserWindowService.LoadRequested -= OnLoadRequested;
    }

    private void HandleSettingsClick()
    {
        Navigation.NavigateToSettings();
    }
    
    private void DismissError()
    {
        _errorBoundary.Recover();
    }

    private string GetIssueLink(Exception context) => GitHubRepositoryNewIssue(
            title: $"Error on {ApplicationName}: {context.Message}",
            body: $@"# Error on {ApplicationName}

* **Id**: {context.GetExceptionTrackingId()}
* **Game version**: {GameService.Game?.GameVersionApproximation.Name}
* **Generation**: {GameService.Game?.Generation.ToString()}
## Type
```
{context.GetType().Name}
```

## Message
```
{context.Message}
```

## Stack trace
```
{context.StackTrace}
```",
            labels: ["bug"]);

}