@inherits LayoutComponentBase
@using PKHeX.Web.Services.Plugins
@implements IDisposable
@inject NavigationManager Navigation
@inject GameService GameService
@inject AntdThemeService ThemeService

<Layout Style="min-height: 100vh">
    <Sider Collapsible
           Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="64"
           @bind-Collapsed=@_collapsed>

        <div class="logo">PKHeX.Web</div>

        <Menu
            Theme="MenuTheme.Dark"
            Mode="MenuMode.Inline"
            DefaultSelectedKeys="@( [SelectedMenuItem?.Route ?? string.Empty])"
            SelectedKeys="@( [SelectedMenuItem?.Route ?? string.Empty])">
            @foreach (var item in MenuItems)
            {
                @if(!item.VisibleWithoutGame && !GameService.IsLoaded) continue;
                
                @if (item.Nested is null || item.Nested.Count == 0)
                {
                    @RenderMenu(item)
                }
                else
                {
                    RenderFragment subtitle =
                        @<span>
                            @if (item.Icon is not null)
                            {
                                <Icon Type="@item.Icon" Theme="outline"/>
                            }
                            <span>@item.Label</span>
                        </span>;

                    <SubMenu Key="@item.Route" TitleTemplate="subtitle">
                        @foreach (var sub in item.Nested)
                        {
                            @RenderMenu(sub)
                        }
                    </SubMenu>
                }
            }
        </Menu>
    </Sider>
    <Layout>
        <Header Style="display: flex; justify-items: center; align-items: center; width: 100%">

            @* Flex has a bug here, as it does not show in the center. To be fixed. *@
            @* @if (_collapsed) *@
            @* { *@
            @*     <span class="layout-header">@SelectedMenuItem?.Label</span> *@
            @* } *@

            <Switch
                Style="margin-left: auto; margin-right: 15px;"
                Value="ThemeService.IsDarkTheme"
                OnChange="HandleThemeChanged"
                CheckedChildren="Dark"
                UnCheckedChildren="Light"/>
        </Header>
        <Content Style=" margin: 24px 16px 0;">
            <div class="site-layout-background" style="padding: 24px; min-height: 360px">
                @Body
            </div>
        </Content>
        <PkHexFooter/>
    </Layout>

</Layout>

@code {
    [Inject] public required PlugInRegistry PlugInRegistry { get; set; }

    bool _collapsed;
    MenuItem? SelectedMenuItem => MenuItems.SingleOrDefault(m => m.Route == Navigation.CurrentRoute());

    IEnumerable<MenuItem> MenuItems =>
    [
        new("", "Home", "home"),
        new("party", "Party", "team"),
        new("pokemon-box", "Pokemon Box", "inbox"),
        new("items", "Items", "shop"),
        new("plugins", "Plug-Ins", "api", true, PluginMenuItems),
        new ("analytics", "Analytics", "line-chart", true),
        new("save", "Save", "save", true),
    ];

    List<MenuItem> PluginMenuItems
    {
        get
        {
            var plugIns = PlugInRegistry.GetAllPlugins()
                .Select(p => new MenuItem($"plugins/{p.Id}", p.Settings.Manifest.PlugInName))
                .ToList();

            if (plugIns.Any()) plugIns.Add(new MenuItem("plugins", "Manage Plug-Ins"));

            return plugIns;
        }
    }

    protected override void OnInitialized()
    {
        GameService.OnGameLoaded += OnGameLoaded;
        PlugInRegistry.OnPlugInChanged += OnPlugInChanged;
        ToLoadIfNotLoaded();
    }

    protected override void OnAfterRender(bool firstRender) => ToLoadIfNotLoaded();

    private void ToLoadIfNotLoaded()
    {
        var currentRoute = Navigation.CurrentRoute();
        if (!GameService.IsLoaded && string.IsNullOrWhiteSpace(currentRoute) || currentRoute == "/")
        {
            Navigation.NavigateTo("/load");
        }
    }

    private void OnGameLoaded(object? sender, EventArgs args)
    {
        Navigation.NavigateTo("/");
    }


    private void OnPlugInChanged(LoadedPlugIn plugin, PlugInRegistry.ChangeType type)
    {
        if (type == PlugInRegistry.ChangeType.Deregistered)
            Navigation.NavigateToPlugIns();
        else
            Navigation.NavigateToPlugIn(plugin);
    }

    private RenderFragment RenderMenu(MenuItem item) =>
        @<MenuItem Key="@item.Route">
            @if (item.Icon is not null)
            {
                <Icon Type="@item.Icon" Theme="outline"/>
            }

            <span class="nav-text">
                <a href="@item.Route">@item.Label</a>
            </span>
        </MenuItem>;

    record MenuItem(string Route, string Label, string? Icon = null, bool VisibleWithoutGame = false, List<MenuItem>? Nested = null);

    public void Dispose()
    {
        GameService.OnGameLoaded -= OnGameLoaded;
        PlugInRegistry.OnPlugInChanged -= OnPlugInChanged;
    }

    private async Task HandleThemeChanged(bool isDark)
    {
        if (isDark)
            await ThemeService.SetDarkTheme();
        else
            await ThemeService.SetLightTheme();
    }

}