@using PKHeX.Facade.Repositories

<Select TItem="ItemDefinition"
        TItemValue="ushort?"
        DataSource="@Items"
        @bind-Value="@SelectedItemId"
        OnSelectedItemChanged="SelectedItemChanged"
        LabelName="@nameof(ItemDefinition.Name)"
        ValueName="@nameof(ItemDefinition.Id)"
        Placeholder="Select an item"
        DefaultActiveFirstOption="false"
        EnableSearch
        EnableVirtualization>
    <LabelTemplate>
        @RenderItem(context)
    </LabelTemplate>
    <ItemTemplate>
        @RenderItem(context)
    </ItemTemplate>
</Select>

@code {
    [Parameter] public required IEnumerable<ItemDefinition> Items { get; set; }
    [Parameter] public ISet<ItemDefinition>? LegalItems { get; set; } = null;

    [Parameter] public ushort? SelectedItemId { get; set; }
    [Parameter] public EventCallback<ItemDefinition> SelectedItemChanged { get; set; }

    RenderFragment RenderItem(ItemDefinition item)
    {
        var legalItem = LegalItems == null || LegalItems.Contains(item)
            ? string.Empty
            : "item_selector__item_template__illegal";
        
        return
            @<Space Style="gap: 5px;" Class="@legalItem">
                <ItemIcon Item="@item"/> <span>@item.Name</span>
            </Space>;
    }

}

<style>
    .item_selector__item_template__illegal {
        color: #5e2e24;
    }
</style>